{# Handle view file #}
<link rel="stylesheet" href="{{plugin_path('NovalneWhatsapp')}}/css/novalnetwhatsapp.css">
<script type="text/javascript" src="{{plugin_path('NovalnetWhatsapp')}}/js/novalnetwhatsapp.js"></script>

<button class="whatsappwidget" onclick="myFunction()" value="Click me">Click me</button>
