{# Handle view file #}
<link rel="stylesheet" href="{{plugin_path('NovalnetWhatsapp')}}/css/novalnetwhatsapp.css">
<script type="text/javascript" src="{{plugin_path('NovalnetWhatsapp')}}/js/novalnetwhatsapp.js"></script>


<div>
<img src="https://freepngimg.com/thumb/whatsapp/1-2-whatsapp-png-clipart-thumb.png" alt="whatsapp-chat" width="50" height="50"  class="whatsappwidget" id="whatsappwidget">
<button onclick="myFunction()"  value="GO_TO">GO TO</button>
</div>

	<div  class="whatsappcontainer" style="visibility:hidden;">
	<div style="height:100px;width:100px;background-color: #FBD603;">
		<div style="height:20px;width:100px;background-color: red;">1ddewer</div>
		<div style="height:50px;width:100px;background-color: black;">1</div>
		<div style="height:30px;width:100px;background-color: green;">1</div>
		</div>
	</div>
