{# Set the post data and Load the JS #}
<button onclick="myFunction()" value="Click me" style="float:right;position:fixed;overflow:hidden;bottom:0;margin-left:50px;margin-bottom:30px;">Click me</button>
<script>
function myFunction() {
 window.location.href = "https://web.whatsapp.com/send?phone=8754754860&text=hi how can i help you";
}
</script>
