{# Handle view file #}
<link rel="stylesheet" href="{{plugin_path('NovalnetWhatsapp')}}/css/novalnetwhatsapp.css">
<script type="text/javascript" src="{{plugin_path('NovalnetWhatsapp')}}/js/novalnetwhatsapp.js"></script>


<div>
<img src="https://freepngimg.com/thumb/whatsapp/1-2-whatsapp-png-clipart-thumb.png" alt="whatsapp-chat" width="50" height="50"  class="whatsappwidget" id="whatsappwidget">
<button onclick="myFunction()"  value="GO_TO">Click me</button>
</div>

