{# Handle view file #}
<link rel="stylesheet" href="{{plugin_path('NovalnetWhatsapp')}}/css/novalnetwhatsapp.css">
<script type="text/javascript" src="{{plugin_path('NovalnetWhatsapp')}}/js/novalnetwhatsapp.js"></script>

<div>
<img src="{{plugin_path('NovalnetWhatsapp')}}/images/whatsapp.png" alt="whatsapp-chat" width="45" height="45"  class="whatsappwidget" id="whatsappwidget">
<button onclick="myFunction()"  value="GO_TO">GO TO</button>
</div>
	<div  class="whatsappcontainer" style="display:none;height:430px;width:350px;">
		
		<div class="whatsapp-header" style="height:70px;width:350px;background-color: #075e54;color:white;align-items:center;padding-top:10px;border-radius:6px 6px 0 0;">
			<div style="float:left;padding-left:15px;margin-top:10px; font-weight: bold;">
				Whatsapp Chat
			</div>
			<div class="whatsapp-cancel" style="float:right;padding-right:15px;cursor:pointer; font-weight: bold;">
				X
			</div>
		</div>
		
		<div style="height:60px;width:350px;background-color: white;padding:5px 0px">Hi Guest! Please click one of our representative Below To Chat on Whatsapp</div>
		
		<div style="height:85px;width:350px;background-color: white;display:flex;padding:10px 0px" class="manager" id="team">
			<div><img src="https://png.pngtree.com/png-vector/20220709/ourmid/pngtree-businessman-user-avatar-wearing-suit-with-red-tie-png-image_5809521.png" alt="whatsapp-chat" width="50" height="50" style="border-radius: 50%";></div>
			<div style="margin-left:10px">
				<div style="font-weight: bold;">Jhon</div>
				<div style="margin-top:10px;">Manager</div>
			</div>
		</div>
		
		<div style="height:85px;width:350px;background-color: white;padding:10px 0px;display:flex;" class="leader" id="team">
			<div><img src="https://png.pngtree.com/png-vector/20220709/ourmid/pngtree-businessman-user-avatar-wearing-suit-with-red-tie-png-image_5809521.png" alt="whatsapp-chat" width="50" height="50" style="border-radius: 50%";></div>
			<div style="margin-left:10px">
				<div style="font-weight: bold;">Peter</div>
				<div style="margin-top:10px;">Leader</div>
			</div>
		</div>
		
		<div style="height:85px;width:350px;background-color: white;padding:10px 0px;display:flex;" class="employee" id="team">
			<div><img src="https://png.pngtree.com/png-vector/20220709/ourmid/pngtree-businessman-user-avatar-wearing-suit-with-red-tie-png-image_5809521.png" alt="whatsapp-chat" width="50" height="50" style="border-radius: 50%";></div>
			<div style="margin-left:10px">
				<div style="font-weight: bold;">Son</div>
				<div style="margin-top:10px;">Employee</div>
			</div>
		</div>
		
		<div style="height:45px;width:350px;background-color: white;padding:1px 0px;text-align:center">
		<hr><span style="margin-bottom:10px;">Plentymarkets</span></div>
	</div>
