{# Handle view file #}
<link rel="stylesheet" href="{{plugin_path('NovalneWhatsappt')}}/css/novalnetwhatsapp.css">
<script type="text/javascript" src="{{plugin_path('NovalnetWhatsapp')}}/js/novalnetwhatsapp.js"></script>

<button class="whatsappwidget" onclick="myFunction()" value="Click me" style="float:right;position:fixed;overflow:hidden;bottom:0;margin-left:50px;margin-bottom:30px;right: 0;">Click me</button>
