.whatsappwidget {
    float:right;
    position:fixed;
    overflow:hidden;
    bottom:0;
    margin-right:20px;
    margin-bottom:70px;
    right: 0;    
}

.whatsappcontainer {
    float:right;
    position:fixed;
    bottom:0;
    margin-right:50px;
    margin-bottom:140px;
    right: 0;   
}
