.whatsappwidget {
    float:right;
    position:fixed;
    overflow:hidden;
    bottom:0;
    margin-left:50px;
    margin-bottom:50px;
    right: 0;    
}

.modal-dialog {
   position:fixed;
   top:auto;
   right:auto;
   left:auto;
   bottom:0;
}  
